.cabecalho{ background-color: rgb(248, 248, 192);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.corpo{ background-color: rgb(255, 207, 144);
        
        font-size:medium;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.tipo1{ background-color: lightseagreen;

}
.tipo2{background-color: rgb(164, 255, 164);}

.tipo3{background-color: rgba(232, 25, 25, 0.974);
color: white;}
.tipo4{background: #901818;;
color: white;}
.tipo5{background-color: rgba(110, 22, 12 );}
.tipo6{background-color: grey
    ;
color: white;}
.tipo7{background-color: rgba(211, 211, 211, 0.826);}
.tipo8{background-color: rgb(235, 110, 108);color: white;}